/* сброс */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* шапка */
header {
    width: 100%;
    background: #055a4f;
    color: white;
    padding: 25px 0;
}

.header-inner {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0 15px;
}
.logo-row{
    display: flex;
    align-items: center;
    gap: 0px;
    justify-content: center;
}
.site-name {
    font-size: 22px;
    font-weight: bold;
}

/* меню */
.main-nav {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    
}

.main-nav a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    background: rgba(255,255,255,0.1);
    border-radius: 4px;
}

.main-nav a:hover{
    background: rgba(255,255,255,0.1);
}
nav a:hover {
    background: #055a4f;
}

/* контент */
.content {
    width:100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px 15px;
}

.content-wrapper{
    display:flex;
    flex-direction:column;
    gap: 30px;
}
/* таблица */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.table-section{
    order:1;
}
.links-section{
    order:2;
}

caption {
    font-weight: bold;
    margin-bottom: 8px;
    text-align: left;
}

th, td {
    border: 1px solid #055a4f;
    padding: 10px 15px;
    text-align: center;
    vertical-align:middle;
}

th {
    background: #055a4f;
    color: white;
    font-weight: bold;
}

tbody tr:nth-child(odd)  { background: #41be9f; }
tbody tr:nth-child(even) { background: #ffffff; }

/* подвал */
footer {
    width: 100%;
    background: #055a4f;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 30px;
}

/* footer p {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
} */

@media (min-width:768px) {
    .header-inner{
    flex-direction: row;
    max-width:960px;
    margin:0 auto;
    justify-content: space-between;
    }
    .main-nav{
    flex-direction: row;
    width: auto;
    gap: 20px;
    }

    .main-nav a {
        background: transparent;
    }
    .content-wrapper{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .table-section{
        order:0;
        width:100%;
    }
    .links-section{
        order:0;
        width:100%;
    }
}